<template>
  <section class="editor-choice-section">
    <h5 class="section-heading">Editor's Choice</h5>
    <h6 class="section-subheading">Curated with love</h6>
    <div class="editor-wrapper">
      <div class="editor-card" v-for="item in data">
        <div class="editor-info">
          <img src="/image/ava.jpg" class="editor-ava">
          <div class="editor-detail">
            <h6 class="editor-name">{{ item.editor }}</h6>
            <p class="editor-role">{{ item.role }}</p>
          </div>
        </div>
        <div class="product-card">
          <div class="product-img">
            <img :src="item.product.image">
          </div>
          <div class="product-rating">
            <p class="rating-number">{{ item.product.rating }}</p>
            <div v-for="index in 5" class="rating-stars">
                <i class="material-icons inactive" v-if="index > parseInt(item.product.rating)">star</i>
                <i class="material-icons" v-else >star</i>
            </div>
            <p class="review-count">(7)</p>
          </div>
          <h6 class="product-name">{{ item.product.name }}</h6>
          <p class="product-desc">{{ item.product.description }}</p>
          <p class="product-desc-sub">Rosy</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

export default {
    name: 'EditorChoice',
    props: [
        'data',
    ]
}
</script>

<style>
  .editor-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .editor-card {
    max-width: 185px;
  }

  .editor-card .editor-info {
    display: flex;
    padding-left: 20px;
    margin: 0 0 -12px 0;
  }

  .editor-card .editor-info .editor-ava {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .editor-card .editor-info .editor-detail .editor-name {
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family: 'Roboto', sans-serif;
  }

  .editor-card .editor-info .editor-detail .editor-role {
    color: #c0c0c0;
    font-size: 0.8em;
    font-weight: 400;    
    margin: 5px 0 0 0;
    font-family: 'Roboto', sans-serif;
  }

  .editor-card .product-card {
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    height: 350px;
  }
  
  .editor-card .product-card .product-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .editor-card .product-card .product-img img {
    width: 80%;
  }

  .editor-card .product-card .product-rating {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
  }

  .editor-card .product-card .product-rating .rating-number {
    font-size: 1em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    margin: 0 5px 0 0;
  }

  .editor-card .product-card .product-rating .material-icons {
    color: #D7244E;
    font-size: 18px;
    line-height: inherit;
  }

  .editor-card .product-card .product-rating .material-icons.inactive {
    color: #c0c0c0;
  }

  .editor-card .product-card .product-rating .review-count {
    font-size: 1em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 5px;
  }

  .editor-card .product-card .product-name {
    font-size: 1.1em;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    max-width: 80%;
  }

  .editor-card .product-card .product-desc {
    font-size: 0.9em;
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .editor-card .product-card .product-desc-sub {
    color: #c0c0c0;
    font-size: 0.9em;
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

</style>