<template>
  <section class="latest-articles-section">
    <h5 class="section-heading">Latest Articles</h5>
    <div class="section-subheading-wrapper">
      <h6 class="section-subheading">Curated with love</h6>
      <nuxt-link class="see-more" :to="{ path: '/' }">See more <i class="material-icons">navigate_next</i></nuxt-link>
    </div>
    <div class="article-wrapper">
      <div class="article-card" v-for="article in data">
        <img :src="article.image">
        <h6 class="article-heading">{{ article.title }}</h6>
        <p class="article-author">{{ article.author }}<span> | </span><span>{{ article.published_at }}</span></p>
      </div>
    </div>
  </section>
</template>

<script>

export default {
    name: 'Latestarticles',
    props: [
        'data',
    ]
}
</script>

<style>
  
  .article-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }

  .article-card {
    width: 340px;
    margin-bottom: 30px;
  }

  .article-card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  .article-card .article-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  .article-card .article-author{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
  }

  .article-card .article-author span{
    color: #c0c0c0;
  }
</style>