<template>
  <section class="latest-reviews-section">
    <h5 class="section-heading">Latest Reviews</h5>
    <div class="section-subheading-wrapper">
      <h6 class="section-subheading">So you can make better purchase decision</h6>
      <nuxt-link class="see-more" :to="{ path: '/' }">See more <i class="material-icons">navigate_next</i></nuxt-link>
    </div>
    <VueSlickCarousel v-bind="carouselSettings">
      <div class="review-outer" v-for="review in data">
        <div class="review-card">
          <div class="product-details">
            <img :src="review.product.image" class="product-image">
            <div class="product-info">
              <h6 class="product-name">{{ review.product.name }}</h6>
              <p class="product-desc">{{ review.product.desc }}</p>
            </div>
          </div>
          <div class="divider"></div>
          <div class="rating-date">
            <div class="product-rating">
                <div v-for="index in 5" class="rating-stars">
                    <i class="material-icons inactive" v-if="index > parseInt(review.star)">star</i>
                    <i class="material-icons" v-else >star</i>
                </div>
            </div>
            <p class="published-at">2 hours ago</p>
          </div>
          <p class="review-comment">liptint pertamaku haha dengan harga yang affordable udah bisa membuat korean look di wajahku (ga cocok si haha), cairrr, mudah kering jadi</p>
        </div>
        <div class="reviewer-info">
          <img src="/image/ava.jpg" class="reviewer-ava">
          <h6 class="reviewer-name">{{ review.user }}</h6>
          <p class="reviewer-profile">{{ review.profile.join(', ') }}</p>
        </div>
      </div>      
    </VueSlickCarousel>
  </section>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    name: 'LatestReviews',
    data() {
      return {
          carouselSettings: {
            "dots": true,
            "arrows": true,
            "infinite": false,
            "slidesToShow": 2,
            "slidesToScroll": 2,
            "variableWidth": false,
          }
      }
    },
    components: {
      VueSlickCarousel
    },
    props: [
        'data',
    ]
}
</script>

<style>
  .review-outer {
    padding: 2px;
    outline: none;
    margin: 0 0 20px 0;
  }

  .review-outer .review-card {
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
  }

  .review-outer .review-card .product-details {
    display: flex;
  }

  .review-outer .review-card .product-details .product-image {
    width: 70px;
    height: auto;
    margin: 0 0 10px 0;
  }

  .review-outer .review-card .product-details .product-info .product-name {
    font-size: 1.1em;
    font-weight: 700;
    margin: 10px 0 3px 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  .review-outer .review-card .product-details .product-info .product-desc {
    font-size: 0.9em;
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  .review-outer .review-card .rating-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .review-outer .review-card .rating-date .published-at{
    color: #c0c0c0;
    font-size: 0.9em;
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  .review-outer .review-card .product-rating {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .review-outer .review-card .product-rating .rating-stars .material-icons {
    color: #D7244E;
    font-size: 18px;
    line-height: inherit;
  }

  .review-outer .review-card .product-rating .rating-stars .material-icons.inactive {
    color: #c0c0c0;
  }

  .review-outer .review-card .review-comment{
    font-size: 0.9em;
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
    line-height: 1.25;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0 0 5px 0;
  }

  .review-outer .reviewer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -25px 0 0 0;
    width: 320px;
  }

  .review-outer .reviewer-info .reviewer-ava {
    width: 50px;
    border-radius: 50%;
    margin: 0 0 10px 0;
  }

  .review-outer .reviewer-info .reviewer-name {
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 5px 0;
  }

  .review-outer .reviewer-info .reviewer-profile {
    color: #C6C6C6;
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 10px 0;
  }

  .latest-reviews-section .slick-prev:before {
    content: "navigate_before";
    color: #B51D41;
    font-size: 25px;
    font-family: 'Material Icons';
  }

  .latest-reviews-section .slick-next:before {
    content: "navigate_next";
    color: #B51D41;
    font-size: 25px;
    font-family: 'Material Icons';
  }
  
  .latest-reviews-section .slick-next {
    top: auto;
    bottom: -20px;
    right: 45%;
  }

  .latest-reviews-section .slick-prev {
    top: auto;
    bottom: -20px;
    left: 41%;
  }

  .latest-reviews-section .slick-dots {
    width: fit-content;
    left: 44.5%;
  }

  .latest-reviews-section .slick-dots li button:before {
    color: #F4BEC9;
    opacity: 1;
    font-size: 10px;
    width: auto;
  }

  .latest-reviews-section .slick-dots li.slick-active button:before {
    color: #B51D41;
    opacity: 1;
  }

  .latest-reviews-section .slick-dots li button {
    padding: 0;
    width: auto;
    margin: 0;
  }

  .latest-reviews-section .slick-dots li {
    width: auto;
    margin: 12px;
  }
</style>