<template>
  <section class="latest-videos-section">
    <h5 class="section-heading">Latest Videos</h5>
    <div class="section-subheading-wrapper">
      <h6 class="section-subheading">Watch and learn, ladies</h6>
      <nuxt-link class="see-more" :to="{ path: '/' }">See more <i class="material-icons">navigate_next</i></nuxt-link>
    </div>
    <div class="video-wrapper">
      <iframe class="video-big" src="https://www.youtube.com/embed/ov0lMIqinNg" frameborder="0" allow="encrypted-media;"></iframe>
      <div class="video-row">
        <iframe class="video-small" src="https://www.youtube.com/embed/kSQmhvgN7So" frameborder="0" allow="encrypted-media;"></iframe>
        <iframe class="video-small" src="https://www.youtube.com/embed/Zgr_sr3L4QI" frameborder="0" allow="encrypted-media;"></iframe>
      </div>
    </div>
  </section>
</template>

<script>

export default {
    name: 'Latestvideos',

}
</script>

<style>
  .video-wrapper {
    display: flex;
  }

  .video-wrapper .video-big {
    width: 100%;
    height: 400px;
    margin: 0 25px 0 0;
  }

  .video-wrapper .video-row {
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
    width: fit-content;
  }

  .video-wrapper .video-small {
    width: 370px;
    height: 50%;
    margin-bottom: 20px;
  }

</style>