<template>
  <section class="popular-groups-section">
    <h5 class="section-heading">Popular Groups</h5>
    <div class="section-subheading-wrapper">
      <h6 class="section-subheading">Where the beauty TALK are</h6>
      <nuxt-link class="see-more" :to="{ path: '/' }">See more <i class="material-icons">navigate_next</i></nuxt-link>
    </div>
    <div class="group-wrapper">
      <div class="group-card" v-for="group in data">
        <img :src="group.image" class="group-image">
        <h6 class="group-name">{{ group.name }}</h6>
        <div class="group-detail-wrapper">
          <div class="group-detail">
            <i class="material-icons">person</i>
            <p class="group-detail-count"> - </p>
          </div>
          <div class="group-detail">
            <i class="material-icons">list</i>
            <p class="group-detail-count"> - </p>
          </div>
          <div class="group-detail">
            <i class="material-icons">comment</i>
            <p class="group-detail-count"> - </p>
          </div>
        </div>
        <p class="group-description">{{ group.description }}</p>
      </div>
    </div>
  </section>
</template>

<script>
import { getGroups } from '~/api/static/populargroups'

export default {
    name: 'PopularGroups',
    data(){
      return {
        data: []
      }
    },
    created() {
      this.getGroups()
    },
    methods: {
      getGroups() {
        const data = getGroups()
        this.data = data
     }
    }

}
</script>

<style>
  .group-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }

  .group-card {
    width: 250px;
    height: 370px;
    margin-bottom: 30px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #0000000D;
  }

  .group-card .group-image {
    width: 150px;
    border-radius: 50%;
  }

  .group-card .group-name{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin: 15px 0 0 0;
  }

  .group-card .group-detail-wrapper{
    margin: 30px 0 10px 0;
    line-height: 20px;
    display: flex;
  }

  .group-card .group-detail {
    display: flex;
    margin: 0 10px;
  }

  .group-card .group-detail i {
    line-height: inherit;
    font-size: 20px;
    margin: 0;
  }

  .group-card .group-detail .group-detail-count {
    margin: 0 0 0 5px;
    font-weight: 600;
  }

  .group-card .group-description{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

</style>