<template>
    <section class="recommended-section">
        <div class="container">
            <div class="recommended-wrapper">
                <div class="text-wrapper">
                    <h6 class="recommend-heading">Looking for products that are just simply perfect for you?</h6>
                    <p class="recommend-subheading">Here are some products that we believe match your skin, hair, and body! Have we mentioned that they solved your concerns too?</p>
                    <nuxt-link :to="{ path: '/' }" class="btn-pink">See My Matches</nuxt-link>
                </div>
                <div class="product-wrapper">
                    <div class="product-card" v-for="product in data">
                        <div class="product-img">
                        <img :src="product.image">
                        </div>
                        <p class="recommend-detail">{{ product.detail }}</p>
                        <div class="product-rating">
                            <p class="rating-number">{{ product.rating }}</p>
                            <div v-for="index in 5" class="rating-stars">
                                <i class="material-icons inactive" v-if="index > parseInt(product.rating)">star</i>
                                <i class="material-icons" v-else>star</i>
                            </div>
                            <p class="review-count">({{ product.review_count }})</p>
                        </div>
                        <h6 class="product-name">{{ product.name }}</h6>
                        <p class="product-desc">{{ product.description }}</p>
                        <p class="product-desc-sub">{{ product.color }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

import { getRecommended } from '~/api/static/recommended'

export default {
    name: 'Recommended',
    data() {
        return {
            data: [],
        }
    },
    created() {
        this.getRecommended()
    },
    methods: {
        getRecommended() {
            const data = getRecommended()
            this.data = data
        }
    }

}
</script>

<style>
  .recommended-section {
    background-image: url("/image/banner-pink.png");
    height: 400px;
  }

  .text-wrapper {
    width: 27%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .text-wrapper .recommend-heading {
    font-size: 1.5em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 15px 0;
  }

  .text-wrapper .recommend-subheading {
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 30px 0;
  }

  .text-wrapper .btn-pink {
    background-color: #D7244E;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    transition: 0.3s;
  }

  .text-wrapper .btn-pink:hover{
    text-decoration: none;
    background-color: #b51d41;
  }

  .recommended-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 400px;
  }

  .product-wrapper {
    display: flex;
    margin-right: -15px;
  }

  .product-wrapper .product-card {
    max-width: 202px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin: 0 15px;
    height: 370px;
  }
  
  .product-wrapper .product-card .product-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .product-wrapper .product-card .product-img img {
    width: 80%;
  }

  .product-wrapper .product-card .recommend-detail {
    color: #D7244E;
    font-size: 0.9em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    margin: 0 5px 0 0;
  }

  .product-wrapper .product-card .product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 0 5px 0 0;
  }

  .product-wrapper .product-card .product-rating .rating-number {
    font-size: 0.9em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    margin: 0 5px 0 0;
  }

  .product-wrapper .product-card .product-rating .material-icons {
    color: #D7244E;
    font-size: 16px;
    line-height: inherit;
  }

  .product-wrapper .product-card .product-rating .material-icons.inactive {
    color: #c0c0c0;
  }

  .product-wrapper .product-card .product-rating .review-count {
    font-size: 0.9em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 5px;
  }

  .product-wrapper .product-card .product-name {
    font-size: 1.1em;
    font-weight: 700;
    margin: 3px 0 0 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    max-width: 80%;
  }

  .product-wrapper .product-card .product-desc {
    font-size: 0.9em;
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
    margin: 5px 0 0 0;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .product-wrapper .product-card .product-desc-sub {
    color: #c0c0c0;
    font-size: 0.9em;
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  @media only screen and (max-width: 1330px){
    .text-wrapper{
      width: 23%;
    }

    .text-wrapper .recommend-heading {
      font-size: 1.3em;
    }

    .text-wrapper .recommend-subheading {
      font-size: 1em;
    }
  }
</style>