<template>
    <section class="top-brands-section">
        <h5 class="section-heading">Top Brands</h5>       
        <div class="section-subheading-wrapper">
        <h6 class="section-subheading">We all know and love</h6>
        <nuxt-link class="see-more" :to="{ path: '/' }">See more <i class="material-icons">navigate_next</i></nuxt-link>
        </div>
        <div class="brand-wrapper">
        <div v-for="brand in data">
            <nuxt-link class="brand-image" :to="{ path: '/' }">
            <img :src="brand.image">
            </nuxt-link>
        </div>
        </div>
    </section>
</template>

<script>

import { getTopBrands } from '~/api/static/topbrands'

export default {
    name: 'Topbrands',
    data() {
        return {
            data: [],
        }
    },
    created() {
        this.getTopBrands()
    },
    methods: {
        getTopBrands() {
            const data = getTopBrands()
            this.data = data
        }
    }

}
</script>

<style>
  .brand-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .brand-wrapper .brand-image {
  }

</style>