<template>
    <section class="trending-section">
        <h5 class="section-heading">Trending This Week</h5>       
        <div class="section-subheading-wrapper">
        <h6 class="section-subheading">See our weekly most reviewed products</h6>
        <nuxt-link class="see-more" :to="{ path: '/' }">See more <i class="material-icons">navigate_next</i></nuxt-link>
        </div>
          <VueSlickCarousel v-bind="carouselSettings">
            <div class="product-outer" v-for="product in data">
              <div class="product-card">
                <div class="product-img">
                    <img :src="product.image">
                </div>
                <div class="product-rating">
                    <p class="rating-number">{{ product.rating }}</p>
                    <div v-for="index in 5" class="rating-stars">
                    <i class="material-icons inactive" v-if="index > parseInt(product.rating)">star</i>
                    <i class="material-icons" v-else>star</i>
                    </div>
                    <p class="review-count">({{ product.review_count }})</p>
                </div>
                <h6 class="product-name">{{ product.name }}</h6>
                <p class="product-desc">{{ product.description }}</p>
                <p class="product-desc-sub">{{ product.color }}</p>
              </div>
            </div>
          </VueSlickCarousel>
    </section>
</template>

<script>
import { getTrendings } from '~/api/static/trendings'
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    name: 'Trending',
    data() {
        return {
            data: [],
            carouselSettings: {
              "dots": true,
              "arrows": true,
              "infinite": false,
              "slidesToShow": 5,
              "slidesToScroll": 6,
              "variableWidth": true,
            }
        }
    },
    components: {
      VueSlickCarousel
    },
    created() {
        this.getTrendings()
    },
    methods: {
        getTrendings() {
            const data = getTrendings()
            this.data = data
        }
    }

}
</script>

<style>
  .product-outer {
    padding: 2px;
    outline: none;
    height: 360px;
    margin-bottom: 10px;
  }
  
  .product-outer .product-card {
    max-width: 180px;
    border-radius: 10px;
    padding: 10px;
    height: 360px;
  }
  
  .product-outer .product-card .product-img {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
  }

  .product-outer .product-card .product-img img {
    width: 80%;
  }

  .product-outer .product-card .product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .product-outer .product-card .product-rating .rating-number {
    font-size: 1em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    margin: 0 5px 0 0;
  }

  .product-outer .product-card .product-rating .material-icons {
    color: #D7244E;
    font-size: 18px;
    line-height: inherit;
  }

  .product-outer .product-card .product-rating .material-icons.inactive {
    color: #c0c0c0;
  }

  .product-outer .product-card .product-rating .review-count {
    font-size: 1em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 5px;
  }

  .product-outer .product-card .product-name {
    font-size: 1.1em;
    font-weight: 700;
    margin: 0 0 5px 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    max-width: 80%;
  }

  .product-outer .product-card .product-desc {
    font-size: 0.9em;
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .product-outer .product-card .product-desc-sub {
    color: #c0c0c0;
    font-size: 0.9em;
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  .trending-section .slick-prev:before {
    content: "navigate_before";
    color: #B51D41;
    font-size: 25px;
    font-family: 'Material Icons';
  }

  .trending-section .slick-next:before {
    content: "navigate_next";
    color: #B51D41;
    font-size: 25px;
    font-family: 'Material Icons';
  }
  
  .trending-section .slick-next {
    top: auto;
    bottom: -20px;
    right: 45%;
  }

  .trending-section .slick-prev {
    top: auto;
    bottom: -20px;
    left: 45%;
  }

  .trending-section .slick-dots {
    width: fit-content;
    left: 47.5%;
  }

  .trending-section .slick-dots li button:before {
    color: #F4BEC9;
    opacity: 1;
    font-size: 10px;
    width: auto;
  }

  .trending-section .slick-dots li.slick-active button:before {
    color: #B51D41;
    opacity: 1;
  }

  .trending-section .slick-dots li button {
    padding: 0;
    width: auto;
    margin: 0;
  }

  .trending-section .slick-dots li {
    width: auto;
    margin: 12px;
  }

</style>