<template>
    <footer class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="col s9">
            <div class="col s4">
              <ul>
                <li><nuxt-link :to="{ path: '/' }">About Us</nuxt-link></li>
                <li><nuxt-link :to="{ path: '/' }">Feedback</nuxt-link></li>
                <li><nuxt-link :to="{ path: '/' }">Contact</nuxt-link></li>
              </ul>
            </div>          
            <div class="col s4">
              <ul>
                <li><nuxt-link :to="{ path: '/' }">Terms &amp; Condition</nuxt-link></li>
                <li><nuxt-link :to="{ path: '/' }">Privacy Policy</nuxt-link></li>
                <li><nuxt-link :to="{ path: '/' }">Help</nuxt-link></li>
              </ul>
            </div>
            <div class="col s4">
              <ul>
                <li><nuxt-link :to="{ path: '/' }">Awards</nuxt-link></li>
                <li><nuxt-link :to="{ path: '/' }">Newsletter</nuxt-link></li>
              </ul>
            </div>
            <div class="col s12">
              <img class="brand-image" src="/image/brand-logo.png">
              <p class="copyright">Copyright &#169; 2015-2017 Female Daily Network &bull; All rights reserved</p>
            </div>
          </div>
          <div class="col s3">
            <p>Download Our Mobile App</p>
            <div class="mobile-download">
              <a href="" target="_blank">
                <img src="/image/btn-appstore.png">
              </a>
              <a href="" target="_blank">
                <img src="/image/btn-playstore.png">
              </a>
            </div>
            <div class="social-media">
              <a href="https://www.facebook.com/satupersenofficial/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path>
                </svg>
              </a>
              <a href="https://twitter.com/satupersen_id" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g data-name="twitter" transform="translate(-126.444 -2.281)"><circle cx="50" cy="50" r="50" fill="#2daae1" data-name="Ellipse 1" transform="translate(126.444 2.281)"/><path fill="#fff" d="M297.441,149.67a26.538,26.538,0,0,1-7.7,2.133,13.558,13.558,0,0,0,5.893-7.492,26.6,26.6,0,0,1-8.512,3.287,13.316,13.316,0,0,0-9.782-4.275,13.471,13.471,0,0,0-13.4,13.543,13.837,13.837,0,0,0,.345,3.087,37.921,37.921,0,0,1-27.622-14.15,13.651,13.651,0,0,0,4.147,18.08,13.234,13.234,0,0,1-6.071-1.693v.171a13.514,13.514,0,0,0,10.75,13.278,13.2,13.2,0,0,1-3.531.475,13.462,13.462,0,0,1-2.523-.238,13.436,13.436,0,0,0,12.517,9.4,26.753,26.753,0,0,1-19.841,5.606,37.637,37.637,0,0,0,20.542,6.087c24.648,0,38.129-20.636,38.129-38.532q0-.881-.041-1.752a27.467,27.467,0,0,0,6.7-7.02Z" data-name="Path 1" transform="translate(-88.232 -117.765)"/></g>
                </svg>
              </a>            
              <a href="https://www.instagram.com/satupersenofficial/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g data-name="instagram"><circle id="back" cx="256" cy="256" r="256" fill="#517ea3"/><path data-name="instagram circle" d="M366.28,233.93h-25a88.22,88.22,0,1,1-170.64,0h-25V355.25a11,11,0,0,0,11,11H355.24a11,11,0,0,0,11-11Zm0-77.19a11,11,0,0,0-11-11H322.17a11,11,0,0,0-11,11v33.09a11,11,0,0,0,11,11h33.07a11,11,0,0,0,11-11ZM256,200.86A55.14,55.14,0,1,0,311.14,256,55.13,55.13,0,0,0,256,200.86m110.28,198.5H145.72a33.09,33.09,0,0,1-33.08-33.09V145.72a33.08,33.08,0,0,1,33.08-33.08H366.28a33.07,33.07,0,0,1,33.08,33.08V366.27a33.08,33.08,0,0,1-33.08,33.09" fill="#fff" fill-rule="evenodd"/></g>
                </svg>
              </a>
              <a href="https://www.youtube.com/channel/UC_eifcIIjgN8Q_8m34nWo3Q" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g data-name="youtube"><circle id="back" cx="256" cy="256" r="256" fill="#e52d27"/><path id="youtube-2" data-name="youtube" d="M399.36,313.34a41.09,41.09,0,0,1-41,41H153.6a41.08,41.08,0,0,1-41-41V198.66a41.08,41.08,0,0,1,41-41H358.4a41.08,41.08,0,0,1,41,41Zm-173-22.17L303.86,251l-77.47-40.42Z" fill="#fff"/></g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>

export default {
  name: 'Footer',
}
</script>

<style>
  .footer {
    border-top: 2px solid hsla(0,0%,43.9%,.2);
    padding: 25px 0;
  }

  .footer .col {
    padding: 0;
  }

  .footer ul li a{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2;
  }

  .footer p {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2;
  }

  .footer .copyright {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 5px 0;
  }

  .footer .brand-image {
    margin-top: 10px;
    width: 25%;
  }

  .footer .mobile-download {
    display: flex;
    justify-content: space-between;
  }

  .footer .mobile-download img{
    width: 90%;
  }

  .footer .social-media {
    margin-top: 30px;
  }

  .footer .social-media svg {
    width: 30px;
    margin-right: 10px;
  }
  
</style>
