<template>
  <div class="header" id="navbar">
    <nav class="navbar white" >
      <div class="navbar-wrapper">
          <div class="search-section">
            <div>
              <a class="left">
                <i class="material-icons">menu</i>
              </a>
              <nuxt-link :to="{ path: '/' }" class="brand-logo">
                <img src="/image/brand-logo.png">
              </nuxt-link>
            </div>
            <div class="search-bar">
              <i class="material-icons">search</i>
              <input type="text" placeholder="Search products, articles, topics , brands, etc" class="search-bar-input">
            </div>
            <ul class="right member-button">
              <li><nuxt-link :to="{ path: '/' }" class="member">
              <i class="material-icons-outlined">account_circle</i>
              Login/SignUp
              </nuxt-link></li> 
            </ul>
          </div>
          <div class="menu-section">
            <ul class="center">
              <li><nuxt-link :to="{ path: '/' }">Skincare</nuxt-link></li>
              <li><nuxt-link :to="{ path: '/' }">Makeup</nuxt-link></li>
              <li><nuxt-link :to="{ path: '/' }">Body</nuxt-link></li>
              <li><nuxt-link :to="{ path: '/' }">Hair</nuxt-link></li>
              <li><nuxt-link :to="{ path: '/' }">Fragrance</nuxt-link></li>
              <li><nuxt-link :to="{ path: '/' }">Nails</nuxt-link></li>
              <li><nuxt-link :to="{ path: '/' }">Tools</nuxt-link></li>
              <li><nuxt-link :to="{ path: '/' }">Brands</nuxt-link></li>
            </ul>
          </div>
      </div>
    </nav>
  </div>
</template>

<script>

export default {
  name: 'Header',
  data() {
    return {
      hover: false,
      hoverMenu: null,
    }
  },
  created() {
    if (process.client) {
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener('scroll', this.handleScroll)
    }
  },
  methods: {
    handleScroll(event) {
      let navbar = document.getElementById("navbar")
      let stick = navbar.offsetTop

      if (window.pageYOffset > stick)
        navbar.classList.add("stick")
      else
        navbar.classList.remove("stick")
    }
  }
}
</script>

  <style>
  .header {
    margin-bottom: 2px;
    background-color: #FFF;
    z-index: 9999;    
  }

  .stick {
    position: fixed;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 9999;        
    box-shadow: 0 2px 3px #0000000D;
  }

  nav ul li {
    position: relative;
  }
  nav ul a {
    padding: 0 10px;
  }

  .navbar {
    box-shadow: none;
    height: fit-content;
    padding: 0;
  }

  .navbar .navbar-wrapper {
    width: 100%;
  }

  .navbar .navbar-wrapper .search-section {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid hsla(0,0%,43.9%,.2);
  }

  .navbar .navbar-wrapper .menu-section {
    line-height: 45px;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid hsla(0,0%,43.9%,.2);
  }

  .navbar .navbar-wrapper a .material-icons{
    color: hsla(0,0%,43.9%,.8);
    line-height: inherit;
    font-size: 26px;
    cursor: pointer;
  }

  .navbar .navbar-wrapper .brand-logo {
    position: relative;
  }

  .navbar .navbar-wrapper .brand-logo img {
    max-width: 180px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: -10px;
  }

  .navbar .navbar-wrapper .search-bar{
    position: relative;
    width: 68%;
  }

  .navbar .navbar-wrapper .search-bar i{
    position: absolute;
    color: #8C8C8C;
    left: 10px;
    line-height: inherit;
    pointer-events: none;
  }

  .navbar .navbar-wrapper .search-bar .search-bar-input{
    padding-left: 40px;
    width: 95%;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
  }

  .navbar .navbar-wrapper .member-button{
    background-color: #D7244E;
    transition: 0.3s;
  }

  .navbar .navbar-wrapper .member{
    padding: 0 30px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    font-weight: 400;
  }

  .navbar .navbar-wrapper .member:hover{
    background-color: #b51d41;
    text-decoration: none;
  }

  .navbar .navbar-wrapper .member .material-icons-outlined{
    color: #FFFFFF;
    font-weight: 400;
    margin-right: 10px;
    height: 100%;
    opacity: 0.9;
  }

  .navbar .navbar-wrapper.center {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid hsla(0,0%,43.9%,.2);
  }

  .navbar .navbar-wrapper a {
    color: black;
    font-weight: 700;
    font-size: .875em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  .navbar .navbar-wrapper .menu-section a:hover {
    color: #D7244E;
    text-decoration: none;
    background-color: transparent;
  }
  

  @media only screen and (max-width: 1310px){
    .navbar .navbar-wrapper .search-bar{
      width: 65%;
    }
  }
</style>
