<template>
  <div>
    <div class="container">
        <div class="top-frame center">
          Top Frame 970 x 50
        </div>
        <div class="billboard center">
          Billboard 970 x 250
        </div>
        <EditorChoice :data="allData['editor\'s choice']"/>
    </div>
    <Recommended />
    <div class="container">
        <div class="billboard center">
          Horizontal 970 x 250 Internal Campaign
        </div>
        <LatestArticles :data="allData['latest articles']"/>
        <div class="row">
          <div class="col s12 no-padding">
            <div class="col s8 no-padding">
              <LatestReviews :data="allData['latest review']"/>
            </div>
            <div class="col s4 no-padding center">
              <div class="mr-2 center">
                MR-2 300 x 250
              </div>
            </div>
          </div>
        </div>
        <PopularGroups />
        <LatestVideos />
        <Trending />
        <TopBrands />
        <h5 class="bottom-heading">
          Female Daily - Find everything you want to know about beauty on Female Daily
        </h5> 
        <h6 class="bottom-subheading">
          Product Reviews, Tips &amp; Tricks, Expert and Consumer Opinions, Beauty Tutorials, Discussions, Beauty Workshops, anything! We are here to be your friendly solution to all things beauty, inside and out!
        </h6> 
    </div>
  </div>
</template>

<script>
import { getData } from '~/api/data'
import EditorChoice from '@/components/home/EditorChoice'
import Recommended from '@/components/home/Recommended'
import LatestArticles from '@/components/home/LatestArticles'
import LatestReviews from '@/components/home/LatestReviews'
import PopularGroups from '@/components/home/PopularGroups'
import LatestVideos from '@/components/home/LatestVideos'
import Trending from '@/components/home/Trending'
import TopBrands from '@/components/home/TopBrands'

export default {
  data(){
    return {
      allData: null,
    }
  },
  components: {
    EditorChoice,
    Recommended,
    LatestArticles,
    LatestVideos,
    Trending,
    TopBrands
  },
  async asyncData({ params }){
    const apiData = await getData()

    return {
      allData: apiData.data
    }
  }
}
</script>

<style>
  p h5 h6{
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }
  .container {
     width: 75%;
  }
  .container .col.center{
    display: flex;
    justify-content: center;
  }

  .container .col.no-padding {
    padding: 0;
  }

  .top-frame{
    background-color: #d8d8d8;
    width: 970px;
    height: 50px;
    margin: 15px auto;
  }

  .billboard{
    background-color: #d8d8d8;
    width: 970px;
    height: 250px;
    margin: 15px auto 50px auto;
  }

  .mr-2{
    background-color: #d8d8d8;
    width: 300px;
    height: 250px;
    margin-top: 100px;
  }

  section {
    margin-bottom: 50px;
  }

  .section-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.7;
    margin: 0 0 15px 0;
  }

  .section-subheading {
    color: #c0c0c0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 0 30px 0;
  }

  .section-subheading-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .section-subheading-wrapper .see-more {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: #D7244E;
    line-height: 1.25;
    transition: 0.3s;
    text-decoration: none;
  }

  .section-subheading-wrapper .see-more:hover {
    color: #b51d41;
  }

  .section-subheading-wrapper .see-more i {
    margin-left: 15px;
  }

  .bottom-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.7;
    padding-top: 20px;
    margin: 0;
  }  

  .bottom-subheading {
    font-family: 'Roboto', sans-serif;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 50px 0;
  }

  @media only screen and (max-width: 1366px){
    .container {
      width: 82%;
    }
  }
</style>